<aside class="position-fixed">

    <div class="side-logo">
        <img src="/image/transparent_logo.png" class="" style="height: 70px ;width: 70px;" alt="kio hotstar" />
        <div class="btn-subscribe ">
            Subscribe <i class="fa-solid fa-chevron-right"></i>
        </div>

    </div>
    <nav class="d-flex  flex-row position-relative d-flex justify-content-center">

        <div class="w-full h-full d-flex flex-column justify-content-center">
            <button type="button" class="button-menu mt-5">
                <a routerLinkActive="text-white " [routerLinkActiveOptions]="{exact:true}" class="text-secondary"
                    routerLink="/">

                    <i class="fa-solid fa-house "></i>

                </a>
            </button>
            <button type="button" class="button-menu ">
                <a routerLink="/search" routerLinkActive="text-white " class="text-secondary">


                    <i class="fa-solid fa-search"></i>

                </a>
            </button>
            <button type="button" class="button-menu ">
                <a routerLink="/shows" routerLinkActive="text-white " class="text-secondary">


                    <i class="fa-solid fa-desktop"></i>

                </a>
            </button>
            <button type="button" class="button-menu ">
                <a routerLink="/movies" routerLinkActive="text-white " class="text-secondary">


                    <i class="fa-solid fa-bowl-food"></i>

                </a>
            </button>
            <button type="button" class="button-menu ">
                <a routerLink="/sports" routerLinkActive="text-white" class="text-secondary">
                    <i class="fa-solid fa-person-running"></i>
                </a>
            </button>
            <button type="button" class="button-menu ">
                <a routerLink="/creators" routerLinkActive="text-white " class="text-secondary">
                    <i class="fa-solid fa-video"></i>
                </a>
            </button>
            <button type="button" class="button-menu ">
                <a routerLink="/categories" routerLinkActive="text-white " class="text-secondary">
                    <i class="fa-solid fa-table-list"></i>
                </a>
            </button>
            <button type="button" class="button-menu ">
                <a routerLink="/user" routerLinkActive="text-white " class="text-secondary">
                    <i class="fa-regular fa-circle-user"></i>
                </a>
            </button>
        </div>
        <div class="large-sidebar   d-flex flex-column  w-full position-absolute align-items-start ps-0">

            <button type="button" class="button-menu ">
                <a routerLinkActive="text-white " [routerLinkActiveOptions]="{exact:true}" class="text-secondary"
                    routerLink="/">
                    <span>Home</span>
                </a>
            </button>


            <button type="button" class="button-menu ">
                <a routerLinkActive="text-white " [routerLinkActiveOptions]="{exact:true}" class="text-secondary"
                    routerLink="/search">
                    <span>Search</span>
                </a>
            </button>


            <button type="button" class="button-menu ">
                <a routerLinkActive="text-white " [routerLinkActiveOptions]="{exact:true}" class="text-secondary"
                    routerLink="/shows">
                    <span>TV</span>
                </a>
            </button>


            <button type="button" class="button-menu ">
                <a routerLinkActive="text-white " [routerLinkActiveOptions]="{exact:true}" class="text-secondary"
                    routerLink="/movies">
                    <span>Movie</span>
                </a>
            </button>


            <button type="button" class="button-menu ">
                <a routerLinkActive="text-white " [routerLinkActiveOptions]="{exact:true}" class="text-secondary"
                    routerLink="/sports">
                    <span>Sports</span>
                </a>
            </button>


            <button type="button" class="button-menu">
                <a routerLinkActive="text-white " [routerLinkActiveOptions]="{exact:true}" class="text-secondary"
                    routerLink="/creators">
                    <span>Sparks</span>
                </a>
            </button>


            <button type="button" class="button-menu">
                <a routerLinkActive="text-white " [routerLinkActiveOptions]="{exact:true}" class="text-secondary"
                    routerLink="/categories">
                    <span>Categories</span>
                </a>
            </button>


            <button type="button" class="button-menu">
                <a routerLinkActive="text-white " [routerLinkActiveOptions]="{exact:true}" class="text-secondary"
                    routerLink="/user">
                    <span>My Space</span>
                </a>
            </button>

        </div>
    </nav>
</aside>