<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade " id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  m-0 pt-4 my-auto mx-auto d-flex justify-vontent-center align-items-center">
        <div class="modal-content login-card bg-card">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-3 text-secondary  fw-bold mx-auto" id="loginModalLabel">Login or sign up to
                    continue</h1>
                <button type="button"
                    class="btn-cloe btn-secondary login-close border-2 position-absolute right-0 text-white"
                    data-bs-dismiss="modal" aria-label="Close" style="color: white;">
                    <i class="fa-solid fa-circle-xmark"></i>
                </button>
            </div>
            <div class="modal-body  ">
                <div class="d-flex flex-column align-items-center mt-4">
                    <form class="d-flex flex-row gap-3" role="login">




                        <div class="h-full">
                            <p class="border d-flex justify-center-center align-items-center p-2 rounded"> +91</p>
                        </div>
                        <div>
                            <input class="form-control mobile-input fs-4  rounded bg-transparent px-1 text-white py-1" type="login"
                                placeholder="9473774390" aria-label="Phone" style="background: transparent;" />

                        </div>
                    </form>
                    <p class="text-secondory px-5 pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, perferendis.
                        <a routerLink="/" class="fw-semibold cursor-pointe">Privacy Policy</a>
                        &
                        <a routerLink="/" class="fw-semibold">Terms of Use</a>
                        </p>
                    <div></div>
                </div>
            </div>
            <div class="w-full mx-auto ">
                <button type="button" class="btn login-btn px-4 ">Login</button>
            </div>
            <p class="text-center my-2">Having trouble logging in? <a routerLink="/" class="fw-semibold">Get Help</a></p>
        </div>
    </div>
</div>