<div class="video-card border bg-card" type="button" data-bs-toggle="modal" data-bs-target="#videoCardModalLabel">
    <img [src]="card.thumbnail" [alt]="card.title">

</div>


<!-- Modal -->
<div class="modal fade " id="videoCardModalLabel" tabindex="-1" aria-labelledby="videoCardModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <!-- Popover card (hidden until hover) -->
            <div class="popover-card shadow p-0  bg-card overflow-hidden">
                <img [src]="card.thumbnailLarge" class="video-large" [alt]="card.title">
                <div class="p-3">
                    <div class="row mb-3 px-2">
                        <button class="btn watch-now-btn col-9" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Watch Now
                        </button>
                        <div class="col-3 d-flex justify-content-end">
                            <button class="border-none  plus-btn btn">
                                +
                            </button>
                        </div>
                    </div>
                    <h6>{{ card.title }} ({{ card.year }})</h6>
                    <p class="small text-secondary mb-1">{{ card.type }} • {{ card.duration }} • On Netflix <strong> •⭐
                            {{ card.rating }}</strong></p>
                    <p class="small mb-2">{{ card.description }}</p>
                    <div>
                        <span *ngFor="let g of card.genre" class="badge bg-primary me-1">{{ g }}</span>
                    </div>
                    <p class="mt-2 mb-0"></p>
                </div>
            </div>
        </div>
    </div>
</div>