<div class="video-top p-0 w-full m-0 position-relative">
    <video class="p-0"
        src="/image/saiyaara--ahaan-panday-aneet-padda--mithoon--arijit-singh--in-cinemas-18-july---dhun-song.mp4" loop
        muted autoplay></video>
    <div class="overlay-video d-flex flex-column w-full align-items-start justify-content-center">
        <div class="ps-4 text-white w-full">
            <div>
                <img src="https://img10.hotstar.com/image/upload/f_auto,h_148/sources/r1/cms/prod/9472/1755522099472-t"
                    alt="">
            </div>
            <p class="my-4"><a href="/" class="text-decoration-none my-5">New Releas</a></p>
            <p class="fw-semibold">2025 • U/A 16+ • 1Session • 7 Languages</p>
            <h4 class="fs-5 mt-4 fw-bold">Chhava 2025 • 2h 41m • On Netflix</h4>
            <h4 class="fs-6 mb-4 " style="width: 400px ; height: auto;">Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Odit, quas, aliquid hic nulla optio ipsam laboriosam
                Non, commodi. Magni.</h4>

        </div>
        <div class="container-fluid">
            <div class="row  w-full">
                <div class="col-sm-6 ">

                    <div class="my-auto d-flex align-items-center gap-4 ">
                        <button class="btn watch-now-btn " data-bs-toggle="modal" data-bs-target="#loginModal">
                            Watch Now
                        </button>
                        <button class="border-none  plus-btn btn ">
                            +
                        </button>

                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-end overflow-none">

                    <div class="subvideo-section overflow-auto">
                        <div class="subvideo   bg-danger ">
                            <img class=""
                                src="https://img10.hotstar.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/7254/1754473627254-h"
                                alt="">
                        </div>
                        <div class="subvideo   bg-danger  ">
                            <img class=""
                                src="https://img10.hotstar.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/3378/1755520903378-h"
                                alt="">
                        </div>
                        <div class="subvideo   bg-danger  ">
                            <img class=""
                                src="https://img10.hotstar.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/6093/1749545596093-h"
                                alt="">
                        </div>
                        <div class="subvideo   bg-danger ">
                            <img class=""
                                src="https://img10.hotstar.com/image/upload/f_auto,t_web_hs_1x/sources/r1/cms/prod/1384/1755755201384-h"
                                alt="">
                        </div>
                        <div class="subvideo   bg-danger ">
                            <img class=""
                                src="https://img.hotstar.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/6145/1747850756145-i"
                                alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>